#brackets-terminal-x {
    -webkit-user-select: auto;
    user-select: auto;
}

#brackets-terminal-x .display-none {
    display: none;
}

#brackets-terminal-x .toolbar {
    padding-top: 0;
    padding-bottom: 0;
}

#brackets-terminal-x .toolbar .btn-container {
    margin-right: 8px;
}

#brackets-terminal-x .toolbar .btn {
    padding-top: 0;
    padding-bottom: 0;
    margin: 0;
}

#brackets-terminal-x .toolbar .btn.first {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    border-right: 0;
}

#brackets-terminal-x .toolbar .btn.middle {
    border-radius: 0;
    border-right: 0;
}

#brackets-terminal-x .toolbar .btn.last {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}

#brackets-terminal-x .toolbar .nav-container .nav.nav-tabs {
    border-bottom: none;
    margin: 0;
}

#brackets-terminal-x .toolbar .nav-container .nav.nav-tabs .close {
    display: none;
}

#brackets-terminal-x .toolbar .nav-container .nav.nav-tabs .add-tab {
    width: auto;
}

#brackets-terminal-x .toolbar li {
    width: 120px;
}

#brackets-terminal-x .toolbar li a {
    position: relative;
    padding-top: 5px;
    padding-bottom: 5px;
}

#brackets-terminal-x .toolbar li a p {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    width: 80px;
    margin: 0;
}

#brackets-terminal-x .toolbar .title {
    margin-left: 10px;
}

#terminals-container .terminal.xterm {
    height: 100%;
}

/*
#terminals-container .xterm-viewport {
    height: 100% !important;
}
*/
#terminals-container .tab-pane {
    height: 100%;
    padding-left: 10px;
}

#brackets-terminal-x-icon {
    content: "";
    background: url("logoShell.svg") 0 0 no-repeat;
}
