<!--
Taken, and adapted, from:
https://github.com/adobe/brackets/blob/baf964e123a5b0a8c34ef3dc58e657c2c75d7b7e/src/htmlContent/findreplace-bar.html
-->
<div class="find-input-group">
    <div id="find-group"><!--
        --><div class="search-input-container"><input type="text" id="find-what" placeholder="{{queryPlaceholder}}" value="{{initialQuery}}" /><div class="dropdown-icon"></div><div class="error"></div><span id="find-counter"></span></div><!--
        -- ><button id="find-case-sensitive" class="btn no-focus" tabindex="-1" title="{{Strings.BUTTON_CASESENSITIVE_HINT}}"><div class="button-icon"></div></button><!--
        -- ><button id="find-regexp" class="btn no-focus" tabindex="-1" title="{{Strings.BUTTON_REGEXP_HINT}}"><div class="button-icon"></div></button><!--
        --><div class="navigator"><!--
            --><button id="find-prev" class="btn no-focus" tabindex="-1" title="{{Strings.BUTTON_PREV_HINT}}">{{Strings.BUTTON_PREV}}</button><!--
            --><button id="find-next" class="btn no-focus" tabindex="-1" title="{{Strings.BUTTON_NEXT_HINT}}">{{Strings.BUTTON_NEXT}}</button><!--
        --></div><!--
    --></div>
</div>
