<div id="brackets-terminal-x" class="bottom-panel vert-resizable top-resizer">
    <div class="toolbar simple-toolbar-layout">
        <button class="btn no-focus first" id="clear" title="{{Strings.CMD_CLEAR}}">Cl</button><!--
        --><button class="btn no-focus last" id="cdCurrentProject" title="{{Strings.CMD_CD_CURRENT_PROJECT}}">cd</button>
        <div class="title">Brackets Terminal X</div>
        <a href="#" class="close">&times;</a>
    </div>
    <div id="terminal-container" class="resizable-content">
    </div>
</div>
