<div id="brackets-terminal-x" class="bottom-panel vert-resizable top-resizer">
    <div class="toolbar simple-toolbar-layout">
        <span class="title display-none">{{Strings.DEFAULT_TITLE}}</span>
        <div class="btn-container">
            <button class="btn no-focus first" id="clear" title="{{Strings.CMD_CLEAR}}">Cl</button><!--
            --><button class="btn no-focus middle" id="cdCurrentProject" title="{{Strings.CMD_CD_CURRENT_PROJECT}}">cd</button><!--
            --><button class="btn no-focus last" id="search" title="{{Strings.CMD_SEARCH}}">Sc</button>
        </div>
        <div class="nav-container">
            <ul class="nav nav-tabs">
                <li class="add-tab">
                    <a href="#" class="no-focus add-terminal">+</a>
                </li>
            </ul>
        </div>
        <a href="#" class="close">&times;</a>
    </div>
    <div id="terminals-container" class="resizable-content tab-content">
    </div>
</div>
